<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<div th:insert="blocks/header"></div>

<h1>Ингредиенты</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Цена за штуку</th>
        <th>Количество</th>
        <th>Категория</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ingredient : ${ingredients}">
        <td th:text="${ingredient.id}"></td>
        <td th:text="${ingredient.name}"></td>
        <td th:text="${ingredient.priceForOne}"></td>
        <td th:text="${ingredient.quantity}"></td>
        <td th:text="${ingredient.category.name}"></td>
        <td>
            <a th:href="@{'/ingredient/edit/' + ${ingredient.id}}">Edit</a>
            <a th:href="@{'/ingredient/delete/' + ${ingredient.id}}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>



<h2>Добавить ингредиент</h2>
<form th:action="@{/ingredient}" th:object="${ingredient}" method="post">
    <label for="name">Название:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

    <label for="priceForOne">Цена за штуку:</label>
    <input type="number" step="0.01" th:field="*{priceForOne}" id="priceForOne"/>
    <span th:if="${#fields.hasErrors('priceForOne')}" th:errors="*{priceForOne}"></span>

    <label for="priceForOne">Количество:</label>
    <input type="number" th:field="*{quantity}" id="quantity"/>
    <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>

    <label >Категория:</label>
    <select th:field="*{category.id}">
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
    </select>

    <button type="submit">Добавить</button>
</form>

</body>
</html>
